@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

.bgland {
  background-image: url("./assets/landbg.png");
  background-position: center left;
  background-size: cover;
  background-repeat: no-repeat;
}